{% extends 'main/base.html' %}

{% block content %}
 
<div class="container" style="height: 1000px; width: 100%">
  <h1 align="center">Обнаруженные файлы:</h1>
  
{% for f in files %}

{{f}}
<a href="/{{f}}" class="btn btn-primary  "> Download
 
</a>
<img src="/{{f}}"  class="img-fluid" alt="Responsive image" style="width:40%">
<p></p>
<p></p><p></p>
{% endfor %}
</div>





<!--  
 
 
<div class="container">
    <div class="row">
      <div class="col-sm">
          
        <h2 align="center">Packets</h2>
        <img src="/static/graphsImage/packetsMap.gv.png"  class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-sm">
        <h2 align="center">Sessions</h2>
        <img src="/static/graphsImage/sessionsMap.gv.png"  class="img-fluid" alt="Responsive image">
      </div>
      
    </div>
  </div> -->


{% endblock %}