{% extends 'main/base.html' %}

{% block content %}
 
<div class="container" style="height: 1000px; width: 100%">
  <h1 align="center">VOIP AUDIO</h1>
  
 
   
 

<p></p>
<p></p><p></p>
<img src="/{{png}}"  class="img-fluid" alt="Responsive image">
</div>
 
  <div class="row">
    <div class="col text-center">
      <audio controls>
        
        <source src="/{{files}}">
      </audio>
      <p></p>
      <a href="/{{files}}" class="btn btn-primary  "> {{filesName}}</a>

     

    </div>
    
  </div>


 
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
        
      <h2 align="center">Packets</h2>
      <img src="/static/graphsImage/packetsMap.gv.png"  class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <h2 align="center">Sessions</h2>
      <img src="/static/graphsImage/sessionsMap.gv.png"  class="img-fluid" alt="Responsive image">
    </div>
    
  </div>
</div> -->


{% endblock %}